<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Форма регистрации</title>
</head>
<body>

<div>
    <h1>Регистрация нового пользователя</h1>
    <form action="http://127.0.0.1:5000/api/register_form" method="post">
        <p>
            <input id="course_id" type="text" name="course_id" hidden value={{ course_id }}>
        </p>
        <p>
            <label for="id_user">name</label>
            <input id="id_user" type="text" name="name">
        </p>
        <p>
            <label for="id_surname">surname</label>
            <input id="id_surname" type="text" name="surname">
        </p>
        <p>
            <label for="id_email">email</label>
            <input id="id_email" type="text" name="email">
        </p>
        <p>
            <label for="id_phone">phone</label>
            <input id="id_phone" type="text" name="phone">
        </p>
        <button>Регистрация</button>
    </form>
</div>

</body>
</html>